<div class="container">
	<div class="row">
		<div class="col s5">
			<div class="row">
				<button ng-click="statesCtrl.listCountries()">List Countries</button>
			</div>
			<div class="row">
				<div class="col s5">
					<ol >
						<li ng-repeat="country in statesCtrl.allcountries">{{country.name}} - {{country.alpha3_code}}</li>
					</ol>
				</div>
			</div>

		</div>
		<div class="col s5">
				<div class="row">
					<form class="col s12" ng-submit="statesCtrl.search()">
						<div class="row">
							<div class="input-field col s6">
							<input id="icon_prefix" type="text" class="validate" placeholder="Search" ng-model="statesCtrl.mystate">
								
						</div>
					</form> 
					<button href="#" ng-click="statesCtrl.clear()">Clear</button>
				</div>

				<div class="row">
				        <div class="col s5">
				     	<!-- display the search results here -->
				            <div class="card" ng-repeat="val in statesCtrl.mystateArray">
				                <div class="card-content" >
				                	<div><label>Name:    </label>{{val.name}}</div>
				                	<div><label>Capital: </label>{{val.capital}}</div>

				                </div>
				            </div>
						</div>
				</div>
		</div>
	</div>

	


</div>