<nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper">
      <a href="#" class="brand-logo">Performance Intel Portal</a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
      	<li ng-if="reportsCtrl.logonStatus">{{reportsCtrl.logonMessage}}</li>
      	<li><span width="5"></span></li>
        <li><a href="" ng-click="reportsCtrl.logon()">Log On</a></li>
        <li><a href="" ng-click="reportsCtrl.logoff()">Log Off</a></li>
        <li><a href="" ng-click="reportsCtrl.getAbout()">About</a></li>

      </ul>
    </div>

</nav>


<div class="section">
	<div class="row bg">
		<div class="col s2 bg">
			<!--<input type="" name="" phone-input  ng-model="reportsCtrl.phonenumber" ng-blur="reportsCtrl.validatePhonenum()" >
			<input type="" name="" ng-model="reportsCtrl.finalnumber"> <label>{{reportsCtrl.phoneerror}}</label>-->
			<button class="btn" ng-click="reportsCtrl.submit()">Main Folder</button>
		</div>

		<div class="col s10 bg">

		</div>
	</div>
    <!--
	<div class="row">
		<div class="col s2 bg">
			<div class="card" ng-repeat="folder in reportsCtrl.folderList track by $index">
				<div class="card-content">
					 <a href="" ng-click="reportsCtrl.fetchSub(folder.id)">{{folder.name}}</a>
					 <ul>
					 	<li ng-repeat="report in reportsCtrl.reportsList">
					 		<div ng-if="report.folderId == folder.id">

					 			<a href="" ng-click="reportsCtrl.showDocumentDetails(report)">{{report.name}}</a>

					 		</div>

					 	</li>
					 </ul>

				</div>
			</div>
		</div>
		<div class="col s4 bg">

			<div class="card" ng-show="reportsCtrl.showDocumentDetailsCard">
				<div class="card-content">
				<ul>
					<li>
						<label>Document Id</label> {{reportsCtrl.reportdetails}}
					</li>
				</ul>


				</div>
			</div>
		</div>
	</div>
    -->

    <div class="row">
        <div class="col s2 bg">
            <div class="card" ng-repeat="folder in reportsCtrl.folderList track by $index">
                <a href="" ng-click="reportsCtrl.fetchSub(folder.id)">{{folder.name}}</a>
            </div>
        </div>

        <div class="col s4 bg">
            <div class="card">
                <ul>
                    <li ng-repeat="report in reportsCtrl.reportsList">
                        <a href="" ng-click="reportsCtrl.showDocumentDetails(report)">{{report.name}}</a>
                    </li>
                 </ul>
            </div>
        </div>

        <div class="col s4 bg" ng-show="reportsCtrl.showDocumentDetailsCard">
            <div class="card">
                <ul>
					<li>
						Document Id: {{reportsCtrl.documentInfo.id}}
					</li>
                    <li>
						Document Name: {{reportsCtrl.documentInfo.name}}
					</li>
					<li>
						Document Size(KB): {{reportsCtrl.documentInfo.size}}
					</li>
                    <li>
						Document Path: {{reportsCtrl.documentInfo.path}}
					</li>
				</ul>
            </div>
        </div>
    </div>

</div>
